<!DOCTYPE html>
{% autoescape on %}
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-4110110-36', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
{{ body_text|safe }}
<table>
    {% for user in users %}
    <tr>
        <td rowspan="2"><img src="{{ user.image.url }}" /></td>
        <td><a href="http://plus.google.com/{{ user.id }}">{{ user.displayName }}</a></td>
    </tr>
    <tr>
        <td>{{ user.last_activity }}</td>
    </tr>
    {% endfor %}
</table>
<p>&nbsp;</p>
<p>created by <a href="http://google.com/+oonarfiandwi"><strong>OonID</strong></a> as open source project at <a href="http://github.com/oonid/dilingkari/">github</a><br/>
data top Indonesian profiles by <a href="http://circlecount.com/id/profileslist/">CircleCount</a>.</p>
</body>
</html>
{% endautoescape %}